$color-grey: #757575;
$color-black-1: #363636;
$color-black-2: black;
$color-white: #f5f5f5;
$color-blue: #0172ce;
$color-blue-2: #016bce;

.mb-m {
  margin-bottom: 3rem !important;
}
$bp-extra-larg: 100em;

$bp-normale: 86.25em;
$bp-md: 69em;
$bp-small: 55em;
$ipad-pro: 66em;
$bp-small-2: 38em;
